<br/>
<div class="jumbotron">
    <h1>Fakerio</h1>
    <p>Fakerio is a resource for sharing links with your friends!</p>
    <p>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>How it works</h2>
    <p>Fakerio will generate fake people, companies, products and more</p>
  </div>
  <div class="col-md-4">
    <h2>Pricing</h2>
    <p>Fakerio will charge 1 cent per HTTP request.</p>
  </div>
  <div class="col-md-4">
    <h2>Get involved</h2>
    <p>Fakerio will grant you 1000 free request for one referal through twitter.</p>
  </div>
</div>
