<div class="page-header">
  <h1>Dashboard</h1>
</div>

<div class="row">
  <div class="well">
    <div class="col-md-8">
      <strong>Your remaining credits:</strong>
    </div>
    <div class="col-md-4">
      <%= link_to "Buy More", new_purchase_url, class: "btn btn-lg btn-success pull-right" %>
      <%= number_to_currency(current_user.credits) %>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row">
  <h2>Credentials</h2>
  <pre>uuid: <%= current_user.uuid %></pre><br/>
  <pre>token: <%= current_user.authentication_token %></pre>
</div>
